<%= render "shared/header" %>

<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
    <%= render partial: "main_menus/main_menu", locals: { main_menu: @main_menus } %>
</div>

<%= render "shared/footer" %>