<% @m_menu.each do |m_menu| %>
  <%= link_to main_menu_path(m_menu.id) do %>
    <div class='m_menu'>
      <div class='m_menus_header'>

        <p class='m_menus_today'>おすすめ！</p>
        <div class='m_menus_name'>  
          <p><%= m_menu.name %></p>
        </div>
        <div class='m_menus_kcal'>
          <p><%= m_menu.kcal %>kcal
        </div>
      </div>
      <div class='m_menus_img'>
        <%= image_tag m_menu.image, class: 'm_menu_image' %>
      </div>
    </div>
  <% end %>
<% end %>