
.likes-main_menu {
  display: flex;
}

.link-like {
  font-size: 24%;
}

.heart {
  color: red;
  margin-left: 10px;
}

/* userの詳細画面 */
.none-menu {
  color: grey;
}
.none-menu p {
  background-color: honeydew;
}

.user_main_menu_list {
display: flex;
}

.user_menu {
width: 150px;
}

.user_main_menu_image {
align-content: flex-start;
width: 100%;
height: 120px;
border-radius: 10%;
padding: 10px;
}


.link-like-image {
align-content: flex-start;
width: 150px;
height: 120px;
border-radius: 10%;
padding: 10px;
}

